<div id="kt_app_header" class="app-header d-flex flex-column flex-stack">
    <div class="d-flex flex-stack flex-grow-1">
        <div class="app-header-logo d-flex align-items-center ps-lg-8" id="kt_app_header_logo">
            <div id="kt_app_sidebar_toggle" class="app-sidebar-toggle btn btn-sm btn-icon btn-color-while w-30px h-30px ms-n2 me-4 d-none d-lg-flex" data-kt-toggle="true" data-kt-toggle-state="active" data-kt-toggle-target="body" data-kt-toggle-name="app-sidebar-minimize">
                <i class="ki-outline ki-abstract-14 fs-3 mt-1"></i>
            </div>
            <div class="btn btn-icon w-35px h-35px ms-3 me-2 d-flex d-lg-none" id="kt_app_sidebar_mobile_toggle">
                <i class="ki-outline ki-abstract-14 fs-2"></i>
            </div>
            <a href="/" class="app-sidebar-logo">
                <img alt="Logo" src="/images/logo-while.png" class="h-50px theme-light-show" />
                <img alt="Logo" src="/images/logo-while.png" class="h-50px theme-dark-show" />
            </a>
        </div>
        <div class="app-navbar flex-grow-1 justify-content-end" id="kt_app_header_navbar">
            <div class="app-navbar-item ms-2 ms-lg-6">
                <div class="btn btn-icon btn-custom btn-color-while w-40px h-40px w-md-40px h-md-40px position-relative" id="kt_drawer_chat_toggle">
                    <i class="ki-outline ki-notification-on fs-2x"></i>
                    @* <span class="position-absolute top-0 start-100 translate-middle badge badge-circle badge-danger w-15px h-15px ms-n4 mt-3">5</span> *@
                </div>
            </div>
            <div class="app-navbar-item ms-2 ms-lg-6" id="kt_header_user_menu_toggle">
                <div class="d-none d-md-flex flex-column align-items-end justify-content-center me-2">
                    <span class="text-white fs-7 fw-bold lh-1 mb-2">@User.GetUserName()</span>
                    <span class="text-white fs-base fw-bolder lh-1">@User.GetFullName()</span>
                </div>
                <div class="cursor-pointer symbol symbol-circle symbol-30px symbol-lg-45px" data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">
                    @if (User.GetAvatar() == "")
                    {
                        <img src="lib/media/avatars/300-2.jpg" alt="image" style="border-radius: 100px"/>
                    }
                    else
                    {
                        <img src="@(User.GetAvatar())" alt="image"/>
                    }
                </div>
                <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg menu-state-color fw-semibold py-4 fs-6 w-275px" data-kt-menu="true">
                    <div class="menu-item px-3">
                        <div class="menu-content d-flex align-items-center px-3">
                            <div class="symbol symbol-50px me-5">
                                @if (User.GetAvatar() == "")
                                {
                                    <img alt="Logo" src="lib/media/avatars/300-2.jpg" style="border-radius: 100px"/>
                                }
                                else
                                {
                                    <img src="@User.GetAvatar()" alt="image" style="border-radius: 100px"/>
                                }

                            </div>
                            <div class="d-flex flex-column">
                                <div class="fw-bold d-flex align-items-center fs-5">
                                    @User.GetFullName()
                                </div>
                                <div class="fw-bold d-flex align-items-center fs-7 text-primary">
                                    @User.GetEmail()
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="separator my-2"></div>
                    <div class="menu-item px-5">
                        <a href="javascript:GoToHistory()" class="menu-link px-5">Lịch sử của bạn</a>
                    </div>
                    <div class="menu-item px-5">
                        <a href="/change-password" class="menu-link px-5">Đổi mật khẩu</a>
                    </div>
                    <div class="separator my-2"></div>
                    <div class="menu-item px-5">
                        <a href="javascript:LogOut()" class="menu-link px-5">Đăng xuất</a>
                    </div>
                </div>
            </div>
            <div class="app-navbar-item ms-2 ms-lg-6 me-lg-6">
                <a href="javascript:LogOut()" class="btn btn-icon btn-color-while w-35px h-35px w-md-40px h-md-40px">
                    <i class="ki-outline ki-exit-right fs-1"></i>
                </a>
            </div>
        </div>
    </div>
</div>