@page "/ung-dung"
@using KMS.Core.Entities.Content
@model IndexModel
@{
    ViewBag.Title = ConstTitle.Application;
    ViewBag.ActiveMenu = ConstPathUrl.Application;
}

<div class="content flex-column-fluid" id="kt_content">
    <div class="toolbar d-flex flex-stack flex-wrap" id="kt_toolbar">
        <div class="page-title d-flex flex-column py-1">
            <h1 class="d-flex align-items-center my-1">
                <span class="text-primary fw-bolder fs-1 ms-1">@ViewBag.Title</span>
            </h1>
        </div>
    </div>
    <div class="card-header" style="border-bottom: none;">
        <div class="col-lg-12">
            <div class="row border-0 pt-4">
                <div class="col-lg-2">
                    <div class="row">
                        <div class="form-control form-control-floating card">
                            <input placeholder="none" type="text" class="form-input" id="Search" onchange="Search()" value="@Html.Raw(Model.Search)">
                            <label class="form-label">Tìm kiếm....</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="row">
                        <div class="form-control form-control-floating card">
                            <select id="CompanyId" placeholder="none" class="form-input form-select" data-control="select2" data-placeholder="Tất cả công ty" data-minimum-results-for-search="Infinity" onchange='Search()'>
                                <option value="">Tất cả Công ty</option>
                                <!-- Categories will be loaded via JavaScript -->
                            </select>
                            <label class="form-label" for="CompanyId">Công ty</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="row">
                        <div class="form-control form-control-floating card">
                            <select id="KeyId" placeholder="none" class="form-input form-select" data-control="select2" data-placeholder="Tất cả Key" data-minimum-results-for-search="Infinity" onchange='Search()'>
                                <option value="">Tất cả Key</option>
                                <!-- Categories will be loaded via JavaScript -->
                            </select>
                            <label class="form-label" for="KeyId">Key</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="row">
                        <div class="form-control form-control-floating card">
                            <select id="Status" placeholder="none" class="form-input form-select" data-control="select2" data-placeholder="Chưa chọn" data-minimum-results-for-search="Infinity" onchange='Search()'>
                                <option value="@ApplicationStatus.All.Value()">@Html.Raw(ApplicationStatus.All.Display())</option>
                                <option value="@ApplicationStatus.Create.Value()">@Html.Raw(ApplicationStatus.Create.Display())</option>
                                <option value="@ApplicationStatus.Delete.Value()">@Html.Raw(ApplicationStatus.Delete.Display())</option>
                            </select>
                            <label class="form-label" for="Status">Trạng thái</label>
                            <script type="text/javascript">
                                $('#Status').val(parseInt('@Model.Status.Value()')).trigger();
                            </script>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 text-end">
                    @await Component.InvokeAsync("ButtonInsert", Model.InsertRole())
                </div>
            </div>
        </div>
    </div>
    <div class="card-body py-3">
        <div class="table-responsive">
            <table class="table table-row-dashed table-row-bordered table-row-gray-300 align-middle gs-0" id="ItemModel">
                <thead>
                    <tr class="fw-bolder bg-primary text-white">
                        <th class="text-center w-130px">Mã</th>
                        <th>Tên ứng dụng</th>
                        <th>Tên công ty</th>
                        <th>Tên Key</th>
                        <th class="w-120px text-center">Trạng thái</th>
                        <th class="w-150px text-center">Chức năng</th>
                        <th class="w-50px"></th>

                    </tr>
                </thead>
                <tbody>
                    @if (Model?.PagedResult?.RowCount == 0)
                    {
                        <partial name="~/Pages/Shared/Components/Empty/Table.cshtml" model="100" />
                    }
                    else
                    {
                        foreach (var obj in Model?.PagedResult?.Results!)
                        {
                            <tr class="@obj.Status.CssClass()">
                                <td class="text-center">
                                    @await Component.InvokeAsync("ButtonViewDetail", Model.ViewDetailRole(obj))
                                </td>
                                <td>
                                    <div class="gg-ce-1">
                                        @obj?.Name
                                    </div>
                                </td>
                                <td>
                                    <div class="gg-ce-1">
                                        @obj?.CompanyName
                                        @if (obj.CompanyStatus == CompanyStatus.Delete)
                                        {
                                            <span class="text-danger ms-1">(Đã xóa)</span>
                                        }
                                    </div>
                                </td>
                                <td>
                                    <div class="gg-ce-1">
                                        @foreach (var db in @obj?.Keys)
                                        {
                                            @db.Name 
                                            @if(db.Status == KeyStatus.Delete)
                                            {
                                                <span class="text-danger ms-1">(Đã xóa)</span>
                                            }
                                        }
                                        
                                    </div>
                                </td>
                                <td class="text-center">
                                    @Html.Raw(obj?.Status.Badge())
                                </td>
                                <td class="text-center">
                                    @await Component.InvokeAsync("ButtonUpdate", Model.UpdateRole(obj))
                                    @await Component.InvokeAsync("ButtonRemove", Model.RemoveRole(obj))
                                </td>
                                <td>
                                    @Html.DisplayFor(x => obj.AvatarViewModel)
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="row">
            @await Component.InvokeAsync("Pager", Model?.PagedResult)
        </div>
    </div>
</div>
<div class="modal fade modal-select2" id="FormOpen" data-bs-backdrop="static" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
</div>
<script type="text/javascript">
    $(document).ready(function() {
        LoadComboboxTreeApiForName("#CompanyId", "/Api/Company/SelectTreeByType", true , '@Html.Raw(Model?.CompanyId)', window.objAjax, "Công ty");
        LoadComboboxTreeApiForName("#KeyId", "/Api/Key/SelectTreeByType", true , '@Html.Raw(Model?.KeyId)', window.objAjax, "Key");
    });

    function Search() {
        var dataSearch = {
            PageIndex: 1,
            PageSize: $("#PageSize").val(),
            Search: $("#Search").val(),
            Status: parseInt($("#Status").val()) || 0,
            CompanyId: $("#CompanyId").val() || "@Guid.Empty",
            KeyId: $("#KeyId").val() || "@Guid.Empty"
        };
        var url = "";
        if (dataSearch.PageIndex >= 1) url += window.location.pathname + "?PageIndex=1";
        if (dataSearch.PageSize !== "") url += "&PageSize=" + dataSearch.PageSize;
        if (dataSearch.Search !== "") url += "&Search=" + dataSearch.Search;
        if (dataSearch.Status !== 1) url += "&Status=" + dataSearch.Status;
        if (dataSearch.CompanyId !== "@Guid.Empty") url += "&CompanyId=" + dataSearch.CompanyId;
        if (dataSearch.KeyId !== "@Guid.Empty") url += "&KeyId=" + dataSearch.KeyId;
        url = decodeURI(url);
        window.location.href = url;
    }

    function AddOrUpdate(id) {
        var url = CreateURL("/Application/AddOrUpdate", { Id: id });
        AjaxLoadPartial(url, '.show>>>.modal-body',
            function (html) {
                $("#FormOpen").html(html);
                $('#FormOpen').modal('show');
                LoadAll();
            });
    }

    function ViewDetail(id) {
        var url = CreateURL("/Application/ViewDetail", { Id: id });
        AjaxLoadPartial(url, '.show>>>.modal-body',
            function (html) {
                $("#FormOpen").html(html);
                $('#FormOpen').modal('show');
                LoadAll();
            });
    }
</script>
